node-red/timer
[{"id":"7e89dc86.180434","type":"ui_text_input","z":"c1b356fa.9e76e8","name":"Off Time","label":"Off Time","tooltip":"","group":"9ac007ae.9a5c98","order":7,"width":3,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"off_time","x":400,"y":780,"wires":[["6c45ee85.3bbf4"]]},{"id":"986c228a.d566","type":"ui_text","z":"c1b356fa.9e76e8","group":"9ac007ae.9a5c98","order":9,"width":3,"height":1,"name":"Switch State","label":"Valve State OFF ON","format":"{{msg.payload}}","layout":"row-center","x":840,"y":720,"wires":[]},{"id":"300f672.7c60398","type":"ui_text_input","z":"c1b356fa.9e76e8","name":"On Time","label":"On Time","tooltip":"","group":"9ac007ae.9a5c98","order":6,"width":3,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"on_time","x":400,"y":740,"wires":[["6c45ee85.3bbf4"]]},{"id":"2d110d6d.ce1732","type":"ui_button","z":"c1b356fa.9e76e8","name":"Submit","group":"9ac007ae.9a5c98","order":8,"width":3,"height":1,"passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"submit","x":400,"y":820,"wires":[["6c45ee85.3bbf4"]]},{"id":"6c45ee85.3bbf4","type":"function","z":"c1b356fa.9e76e8","name":"Main","func":"var payload=msg.payload;\nvar topic=msg.topic;\n\nfunction checktime(time)\n{\n    var error_flag=false;\n   var a=time.split(\":\"); \n   node.log(a)\n   if(a.length <2)\n     error_flag=true;\n   if(parseInt(a[0])>23)\n     error_flag=true;\n   if(parseInt(a[1])>=60)\n     error_flag=true;\n    if(parseInt(a[2])>=60)\n     error_flag=true;\n\nreturn error_flag;  \n}\nif (topic==\"on_time\")\n{\n  flow.set(\"on_time\",msg.payload);\n  \n    \n}\nif (topic==\"off_time\")\n \n{\n     flow.set(\"off_time\",msg.payload);\n\n}\nif (topic==\"submit\")\n \n{\n  var on_time= flow.get(\"on_time\");\n  var off_time= flow.get(\"off_time\");\n  var error_flag=false;\n  if(checktime(on_time)) //ok\n    error_flag=true;\n  if(checktime(off_time)) //ok\n    error_flag=true;\n  \n\n\n  if(!error_flag)\n  {\n      newpayload={};\n      newpayload.ontime=on_time;\n      newpayload.offtime=off_time;\n      msg.payload=newpayload;\n;\n   return[msg,null];\n}\nelse\n{\n    var msg1={};\n    msg1.payload=\"error time not set\";\n   return [null,msg1]; \n}\n}","outputs":2,"noerr":0,"x":550,"y":780,"wires":[["a3d37999.abfb78"],["7c0d7e7b.376cc","986c228a.d566"]]},{"id":"7c0d7e7b.376cc","type":"debug","z":"c1b356fa.9e76e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":780,"wires":[]},{"id":"e346b9e6.38fb88","type":"ui_button","z":"c1b356fa.9e76e8","name":"","group":"9ac007ae.9a5c98","order":3,"width":3,"height":1,"passthru":false,"label":"Fish Feeder ON","tooltip":"","color":"","bgcolor":"","icon":"fa-2x fa-power-off","payload":"on","payloadType":"str","topic":"topic","x":430,"y":640,"wires":[["a3d37999.abfb78"]]},{"id":"36c98353.cd4d1c","type":"ui_button","z":"c1b356fa.9e76e8","name":"","group":"9ac007ae.9a5c98","order":4,"width":3,"height":1,"passthru":false,"label":"Fish Feeder OFF","tooltip":"","color":"","bgcolor":"","icon":"fa-2x fa-power-off","payload":"off","payloadType":"str","topic":"topic","x":440,"y":680,"wires":[["a3d37999.abfb78"]]},{"id":"78415a5.0f079a4","type":"mqtt out","z":"c1b356fa.9e76e8","name":"","topic":"fishfeeder/relay2","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"850c1f61.da2a5","x":860,"y":660,"wires":[]},{"id":"a3d37999.abfb78","type":"eztimer","z":"c1b356fa.9e76e8","name":"","debug":false,"autoname":"17:45:00 - 17:46:00","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"17:45:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"str","onvalue":"on","onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"17:46:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"str","offvalue":"off","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":650,"y":640,"wires":[["986c228a.d566","78415a5.0f079a4"]]},{"id":"9ac007ae.9a5c98","type":"ui_group","name":"Fish Feeder","tab":"59b74c59.abe8e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"850c1f61.da2a5","type":"mqtt-broker","name":"hivemq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"59b74c59.abe8e4","type":"ui_tab","name":"SMART Aquatic","icon":"dashboard","order":5,"disabled":false,"hidden":false}]
